@font-face {
    font-family: "MuseoSansCyrl";
    src: url(../fonts/MuseoSansCyrl-300.woff);
    font-weight: 300;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url(../fonts/MuseoSansCyrl-500.woff);
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url(../fonts/MuseoSansCyrl-700.woff);
    font-weight: 700;
}

body {
    height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class], ol[class] {
    list-style: none;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1 {
    font-size: 36px;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a,
button {
    transition: 0.2s;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.sandwich {
    display: none;
  
    @media screen and (max-width: 991px) {
      display: block;
    }
  
    &__open-btn {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: transparent;
      border: none;
      outline: none;
    }

    &__close {
        &-btn {
            display: block;
            margin-left: auto;
            background-color: transparent;
            padding: 0;
            outline: none;
            border: none;
        }
    }
  
    &__line {
      display: block;
      width: 22px;
      height: 3px;
      border-radius: 5px;
      background-color: #000000;
  
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    
    &__content {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: #fff;
      right: -100%;
      top: 0;
      padding: 5px 0;
      transition: 0.5s;
      z-index: 99;
      padding: 20px;
  
      &--opened {
        right: 0;
      }
    }

    &-menu {
        text-align: center;

        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 34px;
            }
        }
        &__title {
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.14em;
            color: #A7A7A7;
            margin-bottom: 19px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 19px;
            }

            &:hover {
                .sandwich-menu__link-icon path {
                    fill: #FD8D24;
                }

                .sandwich-menu__link-text {
                    color: #FD8D24;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 15px;
            line-height: 18px;
            color: #434D6E;

            &--active {
                .sandwich-menu__link-icon path {
                    fill: #FD8D24;
                }

                .sandwich-menu__link-text {
                    color: #FD8D24;
                }
            }

            &-icon {
                margin-right: 16px;
            }
        }
    }
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    align-items: center;
    padding: 0 45px;

    @media screen and (max-width: 1220px) {
        width: auto;
        padding: 0 30px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }

    &__sidebar {
        padding: 24px 47px 14px 0px;
        border-right: 1px solid #F4F4F4;

        @media screen and (max-width: 1220px) {
            padding: 24px 30px 14px 0px;
        }

        @media screen and (max-width: 768px) {
            padding: 10px 20px 10px 0px;
        }
    }

    &__main {
        display: flex;
        flex: 1;
        padding: 23px 0 22px 33px;
        position: relative;
    }
}

.logo {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7F8CB2;
    text-align: right;

    &__img {
        margin-bottom: 3px;

        @media screen and (max-width: 1220px) {
            width: 150px;
        }

        @media screen and (max-width: 991px) {
            width: 130px;
        }

        @media screen and (max-width: 768px) {
            width: 100px;
            margin-bottom: 0;
        }
    }

    &__text {
        @media screen and (max-width: 768px) {
            font-size: 9px;
            line-height: normal;
        }
    }
}

.search {
    position: relative;
    background: #F8F8F8;
    border-radius: 2px;
    flex: 1;
    margin-right: 22px;

    @media screen and (max-width: 991px) {
        display: none;
    }

    &__text {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        color: #777777;
        padding: 16px 45px 17px 25px;
        background: #F8F8F8;
        border-radius: 2px;

        &::placeholder {
            font-size: 15px;
            color: #777777;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 26px;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
    }
}

.btn {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    border: 1px solid transparent;
    max-width: 220px;

    &-orange {
        background: #FD8D24;

        &:hover {
            border: 1px solid #FD8D24;
            background-color: #fff;
    
            .btn-orange__icon path {
                fill: #FD8D24;
            }
    
            .btn-orange__text {
                color: #FD8D24;
            }
        }

        &__icon {
            margin-right: 15px;
        }
    
        &__text {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            flex: 1;
        }
    }

    &-white {
        border: 1.5px solid #FD8D24;
        background-color: #fff;
        color: #FD8D24;

        &__icon path {
            fill: #FD8D24;
        }

        &:hover {
            color: #fff;
            background-color: #FD8D24;
    
            .btn-white__icon path {
                fill: #fff;
            }
    
            .btn-white__text {
                color: #fff;
            }
        }
        
        &__icon {
            margin-right: 15px;
        }
    }

    &__add {
        &-header {
            @media screen and (max-width: 991px) {
                display: none;
            }
        }

        &-reviews {
            font-size: 15px;
            line-height: 16px;
            padding: 13px 25px;
        }
    }

    &-more {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.14em;
        color: #7F8CB2;

        &:hover {
            color: #FD8D24;
        }
    }
}

.content {
    display: flex;
}

.sidebar {
    width: 284px;
    border-right: 1px solid #F4F4F4;
    padding: 34px 45px;

    @media screen and (max-width: 1220px) {
        width: 211px;
        padding: 34px 45px 34px 30px;
    }

    @media screen and (max-width: 991px) {
        display: none;
    }

    &-menu {
        &__list {
            &:not(:last-child) {
                margin-bottom: 34px;
            }
        }
        &__title {
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.14em;
            color: #A7A7A7;
            margin-bottom: 19px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 19px;
            }

            &:hover {
                .sidebar-menu__link-icon path {
                    fill: #FD8D24;
                }

                .sidebar-menu__link-text {
                    color: #FD8D24;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 15px;
            line-height: 18px;
            color: #434D6E;

            &--active {
                .sidebar-menu__link-icon path {
                    fill: #FD8D24;
                }

                .sidebar-menu__link-text {
                    color: #FD8D24;
                }
            }

            &-icon {
                margin-right: 16px;
            }
        }
    }
}

.main {
    flex: 1;
    background: #F9F9F9;
    padding: 33px 45px 0 33px;

    @media screen and (max-width: 991px) {
        padding: 30px 40px 0 40px;
    }

    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    &--aside {
        padding-right: 37px;

        @media screen and (max-width: 768px) {
            padding-right: 20px;
        }
    }

    // &__side {
    //     max-width: 763px;
    // }

    &-section {
        background: #FFFFFF;
        border: 1px solid #F4F4F4;

        // &--city {
        //     height: 100%;
        // }

        &__header {
            border-bottom: 1px solid #F4F4F4;
            padding: 17px 27px;
        }

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #222222;
        }
    }
}

.section {
    margin-bottom: 31px;

    &--white {
        background-color: #fff;
        padding: 19px 0 0 0;
    }

    &--padding {
        padding-top: 25px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 18px;

        @media screen and (max-width: 650px) {
            flex-direction: column;
        }

        &--white {
            border-bottom: 1px solid #F3F3F3;
            padding: 0 25px 17px 23px;
        }

        &-left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (max-width: 600px) {
                flex-direction: column;
                text-align: center;
            }
        }

        &-right {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (max-width: 650px) {
                margin-top: 10px;
            }
        }

        &-icon {
            margin-right: 13px;
        }

        &-desc {
            margin-left: 21px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;

            @media screen and (max-width: 600px) {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }

    &__body {
        &--white {
            padding: 21px 25px 27px 23px;
        }

        &--padding {
            padding: 28px 40px 32px 39px;

            @media screen and (max-width: 575px) {
                padding: 25px 15px 25px 15px;
            }
        }

        &--programs {
            padding: 0;
        }

        &--contact {
            padding: 24px 33px 38px 33px;
        }
    }
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}



.radio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (max-width: 768px) {
        gap: 10px;
        justify-content: center;
    }

    &--white {
        gap: 14px;
    }

    &-prev {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 19px 21px 19px 19px;
        background-color: #fff;
        max-width: 199px;

        @media screen and (max-width: 991px) {
            padding: 10px;
            max-width: 165px;
        }

        @media screen and (max-width: 500px) {
            padding: 10px;
            max-width: none;
            width: 135px;
        }

        &--white {
            background-color: transparent;
            padding: 0;
            max-width: 160px;
    
            @media screen and (max-width: 500px) {
                max-width: none;
                width: 105px;
            }
        }

        &:hover {
            .radio-prev__play {
                display: block;
            }
        }

        &__pic {
            width: 160px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            box-sizing: border-box;
            border-radius: 2px;

            @media screen and (max-width: 991px) {
                width: 145px;
                height: 145px;
            }

            @media screen and (max-width: 500px) {
                width: 105px;
                height: 105px;
            }

            &--orange {
                background: #FBF7F6;
            }
        }

        &__play {
            position: absolute;
            right: 11px;
            bottom: 11px;
            width: 40px;
            height: 40px;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border-radius: 11px;
            border: 1px solid #EEEEEE;
            display: none;
        }

        &__info {
            margin-top: 13px;
        }

        &__name {
            display: block;
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 8px;

            &--white {
                text-align: center;
            }

            &:hover {
                color: #FD8D24;
            }
        }

        &__rating {
            font-size: 13px;
            line-height: 16px;
            color: #7F8CB2;
        }
        
    }
}

.country {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;

    @media screen and (max-width: 768px) {
        gap: 15px;
        justify-content: center;
    }

    &-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 101px;
        text-decoration: none;

        @media screen and (max-width: 575px) {
            width: 101px;
        }

        &:hover {
            .country-prev__name {
                color: #FD8D24;
            }
        }

        &__pic {
            margin-bottom: 14px;
        }

        &__name {
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
    }
}

.info {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 42px 0 44px 49px;
    margin-bottom: 33px;
    
    @media screen and (max-width: 860px) {
        padding: 30px;
    }

    @media screen and (max-width: 575px) {
        padding: 20px 15px;
    }

    &__left {
        flex: 1;
        margin-right: 55px;

        @media screen and (max-width: 1200px) {
            margin-right: 20px;
        }

        @media screen and (max-width: 860px) {
            margin-right: 0;
        }

        &-title {
            margin-bottom: 16px;
        }

        &-desc {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 32px;
        }
    }

    &__right {
        flex: 1;

        @media screen and (max-width: 860px) {
            display: none;
        }
    }

    &__pic {
        margin-top: -68px;
        background-image: url("../images/info-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        // width: 524px;
        height: 497px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__all-btn {
        @media screen and (max-width: 575px) {
            max-width: 100%;
        }
    }
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    margin-bottom: 23px;
    text-transform: uppercase;
    gap: 2px;

    &__link {
        display: block;
        color: #A7A7A7;
        text-decoration: underline;
    }

    &__line {
        text-decoration: none;
        color: #A7A7A7;
    }

    &__active {
        color: #FD8D24;
    }
}

.rating {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 742px;
        flex-wrap: wrap;
        margin-bottom: 11px;

        @media screen and (max-width: 991px) {
            max-width: none;
            flex-direction: column;
            text-align: center;
        }

        &-title {
            flex: 1;
        }

        &-date {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;

            @media screen and (max-width: 991px) {
                margin-top: 10px;
            }

            @media screen and (max-width: 500px) {
                font-size: 13px;
            }
        }
    }

    &-table {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-bottom: none;
        border-radius: 4px;
        width: 100%;
        // width: 765px;
        border-collapse: collapse;
        margin-bottom: 19px;

        &__col1 {
            width: 13%;

            // @media screen and (max-width: 600px) {
            //     width: 10%;
            // }
        }

        &__col2 {
            width: 64%;

            // @media screen and (max-width: 600px) {
            //     width: 33.3%;
            // }
        }

        &__col3 {
            width: 23%;

            // @media screen and (max-width: 600px) {
            //     width: 33.3%;
            // }
        }

        tbody {
            tr {
                border-bottom: 1px solid #EEEEEE;
            }
        }

        th {
            border-bottom: 1px solid #EEEEEE;
            padding: 18px 22px;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #434D6E;
            text-align: left;
            border-right: 1px solid #EEEEEE;

            @media screen and (max-width: 768px) {
                padding: 10px;
                text-align: center;
            }
        }

        td {
            padding: 14px 22px;
            border-right: 1px solid #EEEEEE;

            @media screen and (max-width: 768px) {
                padding: 10px;
                text-align: center;
            }
        }

        tfoot {
            td {
                padding: 0;
            }
        }

        &__radio {
            text-decoration: none;
            display: flex;
            align-items: center;

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            &:hover {
                .rating-table__radio-name {
                    color: #FD8D24;
                }
            }
            
            &-pic {
                background: #FFFFFF;
                border: 1px solid #EEEEEE;
                box-sizing: border-box;
                border-radius: 2px;
                overflow: hidden;
                margin-right: 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 768px) {
                    margin-right: 15px;
                }

                @media screen and (max-width: 600px) {
                    margin-right: 0;
                    margin-bottom: 5px;
                }

                @media screen and (max-width: 500px) {
                    width: 30px;
                    height: 30px;
                }
            }

            &-name {
                font-size: 16px;
                line-height: 19px;
                color: #222222;

                @media screen and (max-width: 500px) {
                    font-size: 14px;
                    flex: 1;
                }
            }
        }

        &__counter {
            display: flex;
            align-items: center;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            flex: 1;

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            &-num {
                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }

            &-icon {
                margin-right: 11px;

                @media screen and (max-width: 600px) {
                    margin-right: 0;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__more {
            width: 100%;
            padding: 18px 10px;
            border: none;
            outline: none;
            background-color: #FD8D24;
            color: #fff;
            cursor: pointer;

            &:hover {
                color: #FD8D24;
                background-color: #fff;
            }

            @media screen and (max-width: 500px) {
                padding: 15px 10px;
                font-size: 12px;
            }
        }
    }

    &__more {
        display: block;
        color: #FD8D24;
        text-decoration: none;
        margin-bottom: 29px;
        font-weight: 300;

        &:hover {
            color: #A7A7A7;
        }
    }
    
}

.serial {
    background: #FFF1E4;
    border-radius: 79px;
    padding: 3px 11px;
    min-width: 37px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: max-content;
    }

    &-num {
        display: block;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FD8D24;
    
    }

    &--green {
        background: #E9FFBE;

        .serial-num {
            color: #73AF00;
        }
    }
}

.playlist {
    margin-bottom: 33px;
    
    &__title {
        margin-bottom: 10px;
    }

    &__desc {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        max-width: 630px;
        margin-bottom: 27px;

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }
    }

    &-table {
        // width: 763px;
        width: 100%;
        border-radius: 4px;
        border-collapse: collapse;
        overflow: hidden;

        thead {
            th {
                padding: 16px 22px;
                border-bottom: 1px solid #EEEEEE;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #222222;
                text-align: left;
            }
        }

        tbody {
            td {
                padding: 23px 27px;
                border-right: 1px solid #EEEEEE;
                border-bottom: 1px solid #EEEEEE;

                @media screen and (max-width: 768px) {
                    padding: 10px;
                    text-align: center;
                }
            }
        }

        &__time {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;

            @media screen and (max-width: 500px) {
                font-size: 14px;
            }
        }

        &__song {
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;
            color: #222222;

            @media screen and (max-width: 500px) {
                font-size: 14px;
            }

            &:hover {
                color: #fd8d24;
            }
        }

        
    }
    &-social {
        display: flex;
        align-items: center;
        gap: 6px;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            justify-content: center;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 27px;
            height: 27px;
            border-radius: 50%;

            &--blue {
                background: #6695BD;
            }

            &--red {
                background-color: #E62117;
            }
        }
    }
}

.week {
    margin-bottom: 16px;

    &__list {
        display: flex;
        border-radius: 4px;
        // overflow: hidden;
        // border: 1px solid #EEEEEE;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    &__item {
        display: block;
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #434D6E;
        background-color: #fff;
        padding: 9px 16px;
        min-width: 104px;
        border: 1px solid #EEEEEE;

        @media screen and (max-width: 500px) {
            font-size: 12px;
            padding: 9px;
        }

        &--active {
            border: 1px solid #FD8D24;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            
            .week__item-day {
                color: #FD8D24;
            }

            .week__item-date {
                color: #FD8D24;
            }
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    &__left {
        flex: 1;

        @media screen and (max-width: 991px) {
            max-width: none;
        }
    }
}

.aside {
    margin-left: 25px;
    width: 290px;

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-left: 0;
        margin: 20px 0;
    }
}

.others {
    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid #F4F4F4;
        }

        // &:last-child {
        //     padding-bottom: 36px;
        // }

        &:hover {
            .others__link-name {
                color: #fd8d24;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        padding: 15px 21px;
        text-decoration: none;

        &-pic {
            border: 1px solid #EEEEEE;
            border-radius: 2px;
            width: 39px;
            height: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            overflow: hidden;
            margin-right: 19px;
        }

        &-name {
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
    }

    &__more {
        width: 100%;
        outline: none;
        border: none;
        background: #FD8D24;
        padding: 18px;
        text-align: center;
        font-size: 15px;
        line-height: 16px;
        color: #FFFFFF;

        &:hover {
            color: #FD8D24;
            background-color: #fff;
        }

        @media screen and (max-width: 500px) {
            padding: 15px 10px;
            font-size: 12px;
        }
    }
}

.station {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 742px;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}

.city {
    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 685px;
        overflow: hidden;

        @media screen and (max-width: 1200px) {
            height: 1026px;
        }
    }

    &__item {
        width: 33.3%;
        min-height: 57px;
        padding: 17px 21px 17px 31px;

        @media screen and (max-width: 1200px) {
            width: 50%;
        }

        @media screen and (max-width: 520px) {
            padding: 15px;
            width: 100%;
        }

        &:not(:nth-child(12n)) {
            border-bottom: 1px solid #F4F4F4;
        }

        &:not(:nth-last-child(-n+12)) {
            border-right: 1px solid #F4F4F4;
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        line-height: 16px;
        color: #434D6E;
    }

    &__serial {
        margin: 0;
        min-width: 37px;
    }
}

.broadcasting {
    margin: 34px 0;
    background-color: #fff;

    @media screen and (max-width: 991px) {
        margin-bottom: 0;
    }

    &--online {
        margin-top: 0;

        @media screen and (max-width: 991px) {
            margin-bottom: 34px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 39px 20px 25px;
        border: 1px solid #F4F4F4;

        @media screen and (max-width: 768px) {
            padding: 15px;
        }

        &:hover {
            .broadcasting__name {
                color: #FD8D24;
            }
        }

        &-left {
            display: flex;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }

    &__pic {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-right: 24px;
        width: 41px;
        height: 41px;

        @media screen and (max-width: 768px) {
            margin-right: 15px;
        }

        @media screen and (max-width: 500px) {
            width: 30px;
            height: 30px;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        flex: 1;

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }
    }
    &__button {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 11px;

        @media screen and (max-width: 500px) {
            width: 30px;
            height: 30px;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        &-icon {
            @media screen and (max-width: 500px) {
                width: 10px;
                height: 10px;
            }
        }

        &--like {
            &-active {
                .broadcasting__button-icon path {
                    fill: rgba(255, 71, 90, 1);
                } 
            }
        }
    }

    &__more {
        width: 100%;
        padding: 18px 10px;
        border: none;
        outline: none;
        background-color: #FD8D24;
        color: #fff;
        cursor: pointer;
        
        @media screen and (max-width: 500px) {
            padding: 15px 10px;
            font-size: 12px;
        }

        &:hover {
            color: #FD8D24;
            background-color: #fff;
        }
    }
}

.online {
    &__header {
        margin-bottom: 10px;
    }

    &__desc {
        max-width: 760px;
    }
}

.page {
    &__desc {
        max-width: 730px;
    }
}

.player {
    background-color: #fff;
    margin-bottom: 23px;

    &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__left {
        padding: 26px 30px 37px 25px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        border-right: 1px solid #EEEEEE;
        gap: 25px;

        @media screen and (max-width: 1417px) {
            border: none;
        }

        @media screen and (max-width: 991px) {
            border-right: 1px solid #EEEEEE;
        }

        @media screen and (max-width: 817px) {
            border: none;
            width: 100%;
        }
    }

    &__pic {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #EEEEEE;
        border-radius: 2px;
        height: 192px;
        width: 192px;
    
        @media screen and (max-width: 768px) {
            width: 150px;
            height: 150px;
        }
        // margin-right: 25px;
    }

    &-info {
        &__title {
            margin-bottom: 9px;
        }
    }

    &-statistic {
        display: flex;
        align-items: center;
        margin-bottom: 19px;

        &__item {
            display: flex;
            align-items: center;

            &-icon {
                margin-right: 12px;
            }

            &-category {
                font-size: 14px;
                line-height: 17px;
                color: #7F8CB2;
            }

            &-count {
                color: #4272FF;
                text-decoration: underline;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &-data {
        &__item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &-category {
                display: block;
                margin-right: 24px;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                color: #777777;
                min-width: 145px;

                @media screen and (max-width: 500px) {
                    font-size: 13px;
                    margin-right: 10px;
                }
            }

            &-value {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #333333;

                @media screen and (max-width: 500px) {
                    font-size: 13px;
                }
            }

            &-serial {
                margin: 0;
            }
        }
    }

    &__right {
        flex: 1;

        &-top {
            padding: 26px 30px 21px 26px;
        }

        &-bottom {
            border-top: 1px solid #EEEEEE;
            padding: 15px 30px 16px 26px;
        }
    }

    &__bottom {
        padding: 19px 0;
        border-top: 1px solid #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-song {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

        @media screen and (max-width: 500px) {
            flex-direction: column;
        }

        &__icon {
            margin-right: 9px;

            @media screen and (max-width: 500px) {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }

        &__category {
            display: block;
            margin-right: 10px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;
        }

        &__name {
            display: block;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
        }
    }
}

.turntable {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__button {
        outline: none;
        border: none;
        width: 84px;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #7F8CB2;
        border-radius: 24px;
        margin-bottom: 24px;
    }

    &-bitrate {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        &__category {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;
            margin-right: 15px;
        }
        
        &__count {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            text-decoration: underline;
            color: #4272FF;
        }
    }

    &-info {
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__icon {
            margin-right: 5px;
        }

        &__count {
            font-size: 14px;
            line-height: 17px;
            color: #7F8CB2;
        }

        &__button {
            padding: 0;
            outline: none;
            border: none;
            background-color: transparent;

            &--active {
                .turntable-info__icon path {
                    fill: #FF475A;
                }
            }
        }
    }
}

.volume {
    display: flex;
    align-items: center;
    width: 100%;

    &__button {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin-right: 11px;

        // @media screen and (max-width: 500px) {
        //     margin-right: 10px;
        // }
    }
}

.range {
    &-slider {
        display: flex;
        align-items: center;
        flex: 1;

        @media screen and (max-width: 420px) {
            flex-direction: column;
        }

        input[type=range]::-ms-track {
            /*example */
            width: 99%;
            height: 8px;
            background: transparent;
            border-radius: 27px;
            color: transparent;
        }

        input[type=range]::-ms-thumb {
            background: #000000;
            border-radius: 50%;
            cursor: pointer;
            width: 12px;
            height: 12px;
            -webkit-appearance: none;
            margin-top: -14px;
        }
        
        input[type=range]::-ms-fill-upper {
            background: transparent;
            border-radius: 27px;
        }

        input[type=range]::-ms-fill-lower {
            background: transparent;
            border-radius: 27px;
        }

        &__line {
            flex: 1;
            appearance: none;
            outline: none;
            border-radius: 27px;
            margin: 0;
            padding: 0;
            max-height: 8px;

            @media screen and (max-width: 420px) {
                width: 100%;
            }

            &::-webkit-slider-runnable-track {
                border-radius: 15px;
                height: 4px;
            }

            &::-webkit-slider-thumb {
                background: #FF8E26;
                border-radius: 50%;
                cursor: pointer;
                width: 10px;
                height: 10px;
                -webkit-appearance: none;
                margin-top: -3px;
                box-shadow: 0px 4px 8px rgba(73, 98, 136, 0.15);

                // @media screen and (max-width: 420px) {
                //     width: 24px;
                //     height: 24px;
                //     margin-top: -10px;
                // }
            }

            &::-moz-range-track {
                border-radius: 15px;
                height: 8px;
            }

            &::-moz-range-thumb {
                background: #E8E8E8;
                border-radius: 100px;
                cursor: pointer;
                width: 35px;
                height: 35px;
                -webkit-appearance: none;
                margin-top: -14px;

                // @media screen and (max-width: 420px) {
                //     width: 24px;
                //     height: 24px;
                //     margin-top: -10px;
                // }
            }
        }
    }
}

.music {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__block {
        flex: 1;
        border-right: 1px solid #EEEEEE;

        @media screen and (max-width: 768px) {
            border-bottom: 1px solid #EEEEEE;
        }

        &-top {
            padding: 19px 29px 25px 24px;
            border-bottom: 1px solid #EEEEEE;
        }
    }

    &-serial {
        width: max-content;
        margin: 0;
        padding: 3px 14px;
        margin-bottom: 21px;
    }

    &-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 11px;
        }

        &__play {
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            border-radius: 50%;
            border-radius: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23px;
            height: 23px;
            margin-right: 16px;
        }

        &__time {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;
            margin-right: 25px;

            @media screen and (max-width: 500px) {
                font-size: 13px;
            }
        }

        &__num {
            margin-right: 16px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;

            @media screen and (max-width: 500px) {
                font-size: 13px;
            }
        }

        &__name {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;

            @media screen and (max-width: 500px) {
                font-size: 13px;
            }
        }
    }

    &__more {
        border: none;
        outline: none;
        width: 100%;
        background-color: #fff;
        color: #FD8D24;
        padding: 20px;
        font-size: 15px;
        line-height: 18px;
        color: #FD8D24;

        &:hover {
            color: #fff;
            background-color: #FD8D24;
        }
    }
}

.programs {
    &-item {
        display: flex;
        align-items: center;
        padding: 16px 21px 14px 25px;

        &:not(:last-child) {
            border-bottom: 1px solid #F4F4F4;
        }

        &__pic {
            width: 41px;
            height: 41px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            box-sizing: border-box;
            border-radius: 2px;
            margin-right: 25px;
        }

        &__info {
            flex: 1;

            &-top {
                margin-bottom: 8px;
            }

            &-name {
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }

            &-bottom {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 5px;
                column-gap: 19px;
            }

            // &-day {
            //     margin-right: 16px;
            // }
        }
        &__date {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 16px;
            row-gap: 5px;


            // &:not(:last-child) {
            //     margin-right: 19px;
            // }
        }
    }

    

    &-day {
        background: #E9FFBE;
        border-radius: 79px;
        padding: 3px 14px;

        &__text {
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #73AF00;
        }
    }

    &-time {
        font-size: 14px;
        line-height: 17px;
        color: #7F8CB2;
    }
}

.biography {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 29px 30px 33px 33px;
    margin-bottom: 23px;

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #333333;

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }
    }
}

.contact {
    &-item {
        display: flex;
        align-items: center;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            text-align: center;
        }

        &:not(:last-child) {
            margin-bottom: 3px;
        }

        &:last-child {
            margin-top: 28px;
        }

        &__category {
            display: block;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;
            margin-right: 41px;
            min-width: 128px;

            @media screen and (max-width: 768px) {
                margin-right: 20px;
            }

            @media screen and (max-width: 600px) {
                margin-right: 0;
            }
        }

        &__value {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
        }

        &__tel {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
        }

        &__link {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            text-decoration: underline;
            color: #4272FF;

            &:hover {
                color: #fd8d24;
            }
        }
    }
}

.social {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @media screen and (max-width: 600px) {
            margin-top: 10px;
        }
    }

    &__item {
        display: block;
        text-decoration: none;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        // &:not(:last-child) {
        //     margin-right: 8px;
        // }

        &--fb {
            background: #3B5998;
        }

        &--tw {
            background: #1DA1F2;
        }

        &--vk {
            background: #6695BD;
        }

        &--od {
            background: #FF9205;
        }

        &--youtube {
            background: #E62117;
        }

        &--insta {
            background: linear-gradient(206.57deg, #9E42B4 8.33%, #9E42B4 13.92%, #E5566F 47.75%, #FDC76D 91.67%);
        }
    }
}

.frequency {
    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 278px;
        overflow: hidden;

        @media screen and (max-width: 1200px) {
            max-height: 400px;
        }
    }
    &__item {        
        border: 1px solid #EEEEEE;
        width: 50%;
        padding: 18px 31px;
        flex: 1;

        @media screen and (max-width: 1200px) {
            min-height: 73px;
        }

        @media screen and (max-width: 460px) {
            min-height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
        }
    }

    &__more {
        width: 100%;
        padding: 18px 10px;
        border: none;
        outline: none;
        background-color: #FD8D24;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: #FD8D24;
            background-color: #fff;
        }
    }
}

.reviews {

    &-form {
        padding: 24px 28px 18px 33px;

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #222222;
            margin-bottom: 24px;
        }

        &__group {
            margin-bottom: 20px;

            &--flex {
                display: flex;
                align-items: center;
                gap: 16px;
                flex-wrap: wrap;

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                }
            }
        }

        &__appeal {
            display: flex;
            align-items: center;
            column-gap: 19px;
            row-gap: 5px;
            flex-wrap: wrap;
        }

        &__column {
            flex: 1;

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }

        &__label {
            display: block;
            font-size: 15px;
            line-height: 18px;
            color: #777777;
            font-weight: 300;
            margin-bottom: 13px;
        }

        &__input {
            background: #F8F8F8;
            border: none;
            outline: none;
            border-radius: 2px;
            padding: 14px 26px;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            width: 100%;

            &::placeholder {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            font-weight: 300;
        }

        &__textarea {
            background: #F8F8F8;
            border: none;
            outline: none;
            border-radius: 2px;
            padding: 14px 26px;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            width: 100%;
            height: 167px;
            resize: none;

            &::placeholder {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
            }
        }

        &__btn {
            padding: 17px 36px;
            width: max-content;
        }
    }
    
    &-item {
        display: flex;
        padding: 19px 28px 18px 25px;
        border: 1px solid #F4F4F4;

        &__pic {
            margin-right: 22px;
            width: 41px;
            height: 41px;
        }
    
        &__info {
            flex: 1;
    
            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 10px;
            }
    
            &-left {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                column-gap: 21px;
                row-gap: 5px;
            }
    
            &-text {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                max-width: 532px;

                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
            }
        }
    
        &__name {
            display: block;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
    
        &__date {
            display: block;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: #777777;
        }
    }
    &__count {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FD8D24;
        margin-left: 16px;

        @media screen and (max-width: 600px) {
            margin-left: 0;
        }
    }

    &__more {
        @media screen and (max-width: 500px) {
            padding: 15px 10px;
            font-size: 12px;
        }
    }

    
}

.rating-area {
  overflow: hidden;
  width: auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  position: relative;
  float: right;
  padding: 0;
  margin-bottom: 3px;
//   padding-right: 3px;
  cursor: pointer;
  font-size: 22px;
  color: lightgrey;
//   text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: "★";
  width: 16px;
  height: 16px;
//   background-image: url('../images/star-inactive.svg');
//   background-repeat: no-repeat;
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

// [type=range] {
//   -webkit-appearance: none;
//   background: transparent;
//   margin: 12px 0;
//   width: 100%;
// }
// input[type="range"]::-ms-fill-upper {
//     background-color: green;
// }

// input[type="range"]::-ms-fill-lower {
//     background-color: lime green;
// }

.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin-right: -45px;
    padding: 36px 44px 38px 38px;

    @media screen and (max-width: 991px) {
        flex-direction: column;
        margin-right: 0;
    }

    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    &--aside {
        margin-right: -37px;

        @media screen and (max-width: 991px) {
            margin-right: 0;
        }
    }

    &-nav {
        flex: 1;
        margin-left: 63px;

        @media screen and (max-width: 991px) {
            margin: 0;
            margin-top: 15px;
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            @media screen and (max-width: 991px) {
                gap: 10px;
            }

            @media screen and (max-width: 500px) {
                flex-direction: column;
            }
        }

        &__item {
            &:hover {
                .footer-nav__link {
                    color: #FD8D24;
                }
            }
        }

        &__link {
            text-decoration: none;
            display: block;
            font-size: 15px;
            line-height: 16px;
            color: #434D6E;
        }
    }
}

.desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    max-width: 630px;
    margin-bottom: 24px;

    @media screen and (max-width: 500px) {
        font-size: 14px;
    }
}